<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
   <ion-searchbar placeholder="Nome ou código do pokemon" class="searchbar" (input)='funcaoPesquisa($event)'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!-- Efeito de loading -->
<ion-content [fullscreen]="true" class="ion-text-capitalize ion-text-center ion-text-sm-{small}">
  <ion-content>
    <ion-card *ngIf="listaPoke.length == 0" class="esperabusca" >
          <ion-skeleton-text animated  class="imagem"></ion-skeleton-text>
    <p ><ion-skeleton-text animated class="buscando"></ion-skeleton-text></p> 
    <p ><ion-skeleton-text animated class="buscando"></ion-skeleton-text></p> 

    </ion-card>

  
<!-- card de visualização básico do pokemon. -->         
  <ion-card class="pokespace" *ngFor="let pokemon of listaPoke" (click)=mostramodal(pokemon)>
    <ion-img class="imagem" [src]="pokemon.Url"></ion-img>
    <ion-card-header style="padding-top: 0px;">
      <ion-card-title > <p class="caracteristicas">ID: #{{pokemon.Id}} <br> Name: {{pokemon.Nome}} </p></ion-card-title>
      <p class="habilidades">>  Detalhes </p>
    </ion-card-header>
    <ion-card-content >
    </ion-card-content>
  </ion-card>

<!-- container para visualização do modal com as informações do pokemon solicitado-->    
  <ng-container *ngIf="mostrar">
    <ion-card class="modal">
        <p (click)=escondeModal() class="fechamodal" >[X]</p>
      <ion-img class="imagem" [src]="''+detalhesPokemon?.sprites?.front_default"></ion-img>
      <ion-card-header>
        <ion-card-title> {{detalhesPokemon.name}} </ion-card-title>
      </ion-card-header>
      <ion-card-content >
        <div *ngIf="detalhesPokemon && detalhesPokemon.types && detalhesPokemon.types[0] && detalhesPokemon.types[0].type">
          Tipo : {{detalhesPokemon.types[0].type.name}} <br>
          Peso : {{(detalhesPokemon.weight)/10}}kg <br>  
          Tamanho : {{(detalhesPokemon.height)/10}} m <br>  
          Lista de habilidades: <br> ** {{detalhesPokemon.abilities[0].ability.name}} <br>  
          ** {{detalhesPokemon.abilities[1].ability.name}} <br>  
          Estatísticas de velocidade :{{detalhesPokemon.stats[5].base_stat}} <br>  
          Defesa : {{detalhesPokemon.stats[2].base_stat}}<br>  
          Ataque : {{detalhesPokemon.stats[1].base_stat}}<br>  
          Hp : {{detalhesPokemon.stats[0].base_stat}}<br>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="overlay" (click)=escondeModal()></div>
  </ng-container>


<!-- container para visualização dos botões de próxima página caso a pesquisa retorne algum valor ou não resultados.-->
<ng-container >  
    <div class="buttons-proxima-anterior" *ngIf="listaPoke.length == 0">
    <p> Estamos localizando seu Pokemon ...</p>
    </div>
  </ng-container>
<ng-container >

  <div class="buttons-proxima-anterior" *ngIf="listaPoke.length !== 0 && listaPoke.length >1">
 <ion-button color="danger" (click)=funcaoPaginaAnterior()> PÁGINA ANTERIOR</ion-button>
  <ion-button color="success" (click)=funcaoProximaPagina()>PRÓXIMA PAGINA</ion-button>
  </div>
</ng-container>
  </ion-content>
  </ion-content>
  
