ion-content {
  --ion-background-color: rgba(128, 212, 245, 0.945);
}

ion-card {
  --ion-background-color: rgb(255, 255, 255);
}

ion-toolbar {
  --ion-background-color: rgb(247, 238, 125);
}
ion-card-header

.header {
  padding: 10px;
  background-color: rgb(247, 238, 125);
}

.pokespace {
  display: inline-block;
  width: 25vh;
  height: 34vh;
  text-align: center;
  cursor: pointer;
}

.imagem {
  width: 18vh;
  height: 18vh;
  margin-left: auto;
  margin-right: auto;
}

.habilidades {
  color: #000fff;
  font-weight: bold;
  font-size: large;
}
.caracteristicas{
  color: #797979;
  font-weight: bold;
  font-size: large;
}

.modal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px #333;
  min-width: 320px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.fechamodal {
  margin-right: 0px;
  margin-top: 0px;
  position: absolute;
  color: #ff000f;
  cursor: pointer;
}

@media(max-width:450px) {
  .habilidades {
    font-size: small;
  }
  .caracteristicas{
    font-size: small;
  }
  .pokespace {
    width: 25vh;
    height: 32vh;
  }
  .imagem {
    width: 14vh;
    height: 14vh;
  }
}
@media(max-width:300px) {
  .pokespace {
    width: 25vh;
    height: 20vh;
  }
  .imagem {
    width: 14vh;
    height: 14vh;
  }
}

@media(max-height:750px) {
  .habilidades {
    font-size: medium;
  }
  .caracteristicas{
    font-size: medium;
  }
  .pokespace {
    width: 25vh;
    height: 34vh;
  }
  .imagem {
    width: 14vh;
    height: 14vh;
  }
}

@media(max-height:520px) {
  .habilidades {
    font-size: medium;
  }
  .caracteristicas{
    font-size: medium;
  }
  .pokespace {
    width: 60vh;
    height: 50vh;
  }
  .imagem {
    width: 18vh;
    height: 18vh;
  }
}
  @media(max-height:300px) {
    .pokespace {
      width: 80vh;
      height: 60vh;
    }
  }
 @media(max-height:300px) and (max-width:250px) {
  .pokespace {
    width: 60vh;
    height: 60vh;
  }
  .habilidades {
    font-size: small;
  }
  .caracteristicas{
    font-size: small;
  }
  }
    
  

